 .u-section-1 {
  min-height: 867px;
}

.u-section-1 .u-group-1 {
  width: 749px;
  background-image: linear-gradient(#77aad9, #e68387);
  min-height: 811px;
  height: auto;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 0 155px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 480px;
  box-shadow: -7px -6px 8px 0px rgba(128,128,128,1);
  margin: -680px auto 0 calc(((100% - 1140px) / 2) + 140px);
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 353px);
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: -631px calc(((100% - 1140px) / 2) + 600px) 0 calc(((100% - 1140px) / 2) + 140px);
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to right, #e68387, #a35559);
  margin: 536px auto 0 calc(((100% - 1140px) / 2) + 78px);
  padding: 8px 23px 10px 21px;
}

.u-section-1 .u-icon-2 {
  margin-right: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 31px calc(((100% - 1140px) / 2) + 140px);
  padding: 10px 13px 10px 11px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 140px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 153px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 500px);
    margin-left: calc(((100% - 940px) / 2) + 40px);
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 940px) / 2));
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 126px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 320px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 140px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 140px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 795px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 408px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 527px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 202px;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 37px;
  margin-left: auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 431px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 0 19px 38px;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.85);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 19px 0 19px 38px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.85);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 19px 0 19px 38px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.85);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 19px 0 19px 38px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 66.13%;
  filter: brightness(0.85);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 19px 0 19px 38px;
}

.u-section-2 .u-image-5 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 14.75%;
  filter: brightness(0.85);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 9px;
  width: 40px;
  height: 40px;
  top: 195px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 240px;
  }

  .u-section-2 .u-image-2 {
    height: 240px;
  }

  .u-section-2 .u-image-3 {
    height: 240px;
  }

  .u-section-2 .u-image-4 {
    height: 240px;
  }

  .u-section-2 .u-image-5 {
    height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-2 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-3 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-4 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-5 {
    height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 287px;
  }
}